<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css" >
    <title>T-Rent</title>
</head>
<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="img/logo.jpg" alt="logo"></div>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
        <div class="rightNav v-class-resp">
            <input type="text" name="Search" id="Search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section class="background1 FirstSection">
        <div class="box-main">
            <div class="FirstHalf">
                <p class="text-big">Renting is no more fainting</p>
                <p class="text-small">This site is designed to make the process of renting a house and getting a house on rent easier. You can sign up as per your need and either rent a house or get one for you.</p>
                
            </div>
            <div class="SecondHalf">
                <img src="/img/logo.jpg" alt="logo">
            </div>
        </div>
        <div class="buttons">
            <a class="btn1 btn btn-light btn-lg" href="/Landlord_login" role="button">Landlord</a>
            <a class="btn2 btn btn-light btn-lg" href="/Tenant"  role="button">Tenant</a>
        </div>

    </section>

    <section class="section" id="about">
        <div class="paras">
        <p class="sectionTag text-big">ABOUT</p>
        <p class="sectionSubTag text-small"> 
            We already know how tough it is to get a house on rent as a tenant and as college students we also struggeled the same way. That is why we present you this site that will help the landlors to trust the tenants on the basis of thier previous review if there is any. And even the tenants can check the review on landlords from their previous tenants/rentals. With the help of variopus filters both tenatns and landlords can narrow down their search result. 

        </div>
        <div class="thumbnail">
            <img src="/img/img.jpg" alt="logo image" class="imgFluid">
        </div>
    </section>

    <section class="section section-left" id="services">
        <div class="paras">
        <p class="sectionTag text-big">SERVICES</p>
        <p class="sectionSubTag text-small">
            There are two types of servies that we provide here one is for the landlords and the other is for tenants or people that are trying to find a house on rent. Firstly you can choose which one to become a tenant or landlord and after that, sign-in to our site and put in the details asked. After your profile is created you can go and either upload you house that is going to be on rent or you can directly search for your desired house to live in. All these can be done easily with the help of filters provided. We are also providing the review method through which every tenant can write a review about thier landlord and even the landlord can write a review for tenants. Other services are also present such as online rent payment etc. 
        </div>
        <div class="thumbnail">
            <img src="/img/img.jpg" alt="logo image" class="imgFluid">
        </div>
    </section>
    <hr>

    <section class="contact" id="contact">
        <h1 class="text-center">Contact Us</h1>
        <div class="form">
            abc@gmail.com
        </div>
    </section>
    <script src="js/resp.js"></script>
</body>
</html>