.section {
    position: relative;
    padding: 63px 40px;
    background-color: #fff;
}

.section.section-gray {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fafafa;
}

.call-to-action-section {
    padding: 44px 40px;
    background-color: #cf404d;
    color: #fff;
}

.section-heading {
    margin-top: 0px;
    margin-bottom: 16px;
}

.section-heading.centered {
    color: #313131;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.section-subheading.center {
    font-family: 'Droid Sans', sans-serif;
    color: hsla(0, 0%, 45.1%, 0.74);
    font-size: 19px;
    line-height: 30px;
    text-align: center;
}

.section-title-group {
    margin-bottom: 62px;
}

@media screen and (max-width: 767px) {
    h3 {
        margin-top: 10px;
    }
    .section {
        padding-right: 10px;
        padding-left: 10px;
    }
    .call-to-action-heading {
        margin-bottom: 13px;
        text-align: center;
    }
    .align-right {
        text-align: center;
    }
    .hero-heading {
        font-size: 37px;
    }
    .hero-title-wrapper {
        top: 35%;
    }
    .mix {
        width: 33.333%;
    }
    .column-0-padding {
        margin-bottom: 15px;
        text-align: center;
    }
    .column-remove-padding {
        padding-right: 0px;
        padding-left: 0px;
    }
}

section {
    display: block
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px
}

.w-container:before,
.w-container:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.w-container:after {
    clear: both
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px
}

@media screen and (max-width:991px) {
    .w-container {
        max-width: 728px
    }
    .w-hidden-main {
        display: inherit !important
    }
    .w-hidden-medium {
        display: none !important
    }
    .w-col-medium-1 {
        width: 8.33333333%
    }
    .w-col-medium-2 {
        width: 16.66666667%
    }
    .w-col-medium-3 {
        width: 25%
    }
    .w-col-medium-4 {
        width: 33.33333333%
    }
    .w-col-medium-5 {
        width: 41.66666667%
    }
    .w-col-medium-6 {
        width: 50%
    }
    .w-col-medium-7 {
        width: 58.33333333%
    }
    .w-col-medium-8 {
        width: 66.66666667%
    }
    .w-col-medium-9 {
        width: 75%
    }
    .w-col-medium-10 {
        width: 83.33333333%
    }
    .w-col-medium-11 {
        width: 91.66666667%
    }
    .w-col-medium-12 {
        width: 100%
    }
    .w-col-stack {
        width: 100%;
        left: auto;
        right: auto
    }
}

@media screen and (max-width:767px) {
    .w-hidden-main {
        display: inherit !important
    }
    .w-hidden-medium {
        display: inherit !important
    }
    .w-hidden-small {
        display: none !important
    }
    .w-row,
    .w-container .w-row {
        margin-left: 0;
        margin-right: 0
    }
    .w-col {
        width: 100%;
        left: auto;
        right: auto
    }
    .w-col-small-1 {
        width: 8.33333333%
    }
    .w-col-small-2 {
        width: 16.66666667%
    }
    .w-col-small-3 {
        width: 25%
    }
    .w-col-small-4 {
        width: 33.33333333%
    }
    .w-col-small-5 {
        width: 41.66666667%
    }
    .w-col-small-6 {
        width: 50%
    }
    .w-col-small-7 {
        width: 58.33333333%
    }
    .w-col-small-8 {
        width: 66.66666667%
    }
    .w-col-small-9 {
        width: 75%
    }
    .w-col-small-10 {
        width: 83.33333333%
    }
    .w-col-small-11 {
        width: 91.66666667%
    }
    .w-col-small-12 {
        width: 100%
    }
}

@media screen and (max-width:479px) {
    .w-container {
        max-width: none
    }
    .w-hidden-main {
        display: inherit !important
    }
    .w-hidden-medium {
        display: inherit !important
    }
    .w-hidden-small {
        display: inherit !important
    }
    .w-hidden-tiny {
        display: none !important
    }
    .w-col {
        width: 100%
    }
    .w-col-tiny-1 {
        width: 8.33333333%
    }
    .w-col-tiny-2 {
        width: 16.66666667%
    }
    .w-col-tiny-3 {
        width: 25%
    }
    .w-col-tiny-4 {
        width: 33.33333333%
    }
    .w-col-tiny-5 {
        width: 41.66666667%
    }
    .w-col-tiny-6 {
        width: 50%
    }
    .w-col-tiny-7 {
        width: 58.33333333%
    }
    .w-col-tiny-8 {
        width: 66.66666667%
    }
    .w-col-tiny-9 {
        width: 75%
    }
    .w-col-tiny-10 {
        width: 83.33333333%
    }
    .w-col-tiny-11 {
        width: 91.66666667%
    }
    .w-col-tiny-12 {
        width: 100%
    }
}

.filter-controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 15px 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0
}

input.w-button {
    -webkit-appearance: button
}

.hollow-button {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    padding: 11px 20px;
    border: 2px solid #1db0fc;
    border-radius: 4px;
    -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
    transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
    color: #1db0fc;
    line-height: 21px;
    text-decoration: none;
}

.hollow-button:hover {
    border-color: #000;
    color: #000;
}

.hollow-button.white {
    border-color: #fff;
    color: #fff;
}

.hollow-button.white:hover {
    border-color: #2d3e4f;
    background-color: #2d3e4f;
    color: #fff;
}

.hollow-button.red {
    border-color: #cf404d;
    background-color: #cf404d;
    color: #fff;
}

.hollow-button.red:hover {
    background-color: transparent;
}

.filter-button {
    background-color: #fd7072;
}

.mix-container {
    padding: 20px 13px 13px;
}

.w-clearfix:before,
.w-clearfix:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.w-clearfix:after {
    clear: both
}

.mix {
    width: 25%;
    padding: 10px;
    float: left;
    text-decoration: none;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block
}

.w-lightbox-backdrop,
.w-lightbox-container {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.w-lightbox-content {
    position: relative;
    height: 100vh;
    overflow: hidden
}

.w-lightbox-view {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0
}

.w-lightbox-view:before {
    content: "";
    height: 100vh
}

.w-lightbox-group,
.w-lightbox-group .w-lightbox-view,
.w-lightbox-group .w-lightbox-view:before {
    height: 86vh
}

.w-lightbox-frame,
.w-lightbox-view:before {
    display: inline-block;
    vertical-align: middle
}

.w-lightbox-figure {
    position: relative;
    margin: 0
}

.w-lightbox-group .w-lightbox-figure {
    cursor: pointer
}

.w-lightbox-img {
    width: auto;
    height: auto;
    max-width: none
}

.w-lightbox-image {
    display: block;
    float: none;
    max-width: 100vw;
    max-height: 100vh
}

.w-lightbox-group .w-lightbox-image {
    max-height: 86vh
}

.w-lightbox-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5em 1em;
    background: rgba(0, 0, 0, 0.4);
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.w-lightbox-embed {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.w-lightbox-control {
    position: absolute;
    top: 0;
    width: 4em;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s
}

.w-lightbox-left {
    display: none;
    bottom: 0;
    left: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0yMCAwIDI0IDQwIiB3aWR0aD0iMjQiIGhlaWdodD0iNDAiPjxnIHRyYW5zZm9ybT0icm90YXRlKDQ1KSI+PHBhdGggZD0ibTAgMGg1djIzaDIzdjVoLTI4eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDN2MjNoMjN2M2gtMjZ6IiBmaWxsPSIjZmZmIi8+PC9nPjwvc3ZnPg==")
}

.w-lightbox-right {
    display: none;
    right: 0;
    bottom: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMjQgNDAiIHdpZHRoPSIyNCIgaGVpZ2h0PSI0MCI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMC0waDI4djI4aC01di0yM2gtMjN6IiBvcGFjaXR5PSIuNCIvPjxwYXRoIGQ9Im0xIDFoMjZ2MjZoLTN2LTIzaC0yM3oiIGZpbGw9IiNmZmYiLz48L2c+PC9zdmc+")
}

.w-lightbox-close {
    right: 0;
    height: 2.6em;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMTggMTciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNyI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMCAwaDd2LTdoNXY3aDd2NWgtN3Y3aC01di03aC03eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDd2LTdoM3Y3aDd2M2gtN3Y3aC0zdi03aC03eiIgZmlsbD0iI2ZmZiIvPjwvZz48L3N2Zz4=");
    background-size: 18px
}

.w-lightbox-strip {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 1vh;
    line-height: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden
}

.w-lightbox-item {
    display: inline-block;
    width: 10vh;
    padding: 2vh 1vh;
    box-sizing: content-box;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0)
}

.w-lightbox-active {
    opacity: .3
}

.w-lightbox-thumbnail {
    position: relative;
    height: 10vh;
    background: #222;
    overflow: hidden
}

.w-lightbox-thumbnail-image {
    position: absolute;
    top: 0;
    left: 0
}

.w-lightbox-thumbnail .w-lightbox-tall {
    top: 50%;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.w-lightbox-thumbnail .w-lightbox-wide {
    left: 50%;
    height: 100%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.w-lightbox-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border: 5px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    -webkit-animation: spin .8s infinite linear;
    animation: spin .8s infinite linear
}

.w-lightbox-spinner:after {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border: 3px solid transparent;
    border-bottom-color: #fff;
    border-radius: 50%
}

.w-lightbox-hide {
    display: none
}

.w-lightbox-noscroll {
    overflow: hidden
}

@media (min-width:768px) {
    .w-lightbox-content {
        height: 96vh;
        margin-top: 2vh
    }
    .w-lightbox-view,
    .w-lightbox-view:before {
        height: 96vh
    }
    .w-lightbox-group,
    .w-lightbox-group .w-lightbox-view,
    .w-lightbox-group .w-lightbox-view:before {
        height: 84vh
    }
    .w-lightbox-image {
        max-width: 96vw;
        max-height: 96vh
    }
    .w-lightbox-group .w-lightbox-image {
        max-width: 82.3vw;
        max-height: 84vh
    }
    .w-lightbox-left,
    .w-lightbox-right {
        display: block;
        opacity: .5
    }
    .w-lightbox-close {
        opacity: .8
    }
    .w-lightbox-control:hover {
        opacity: 1
    }
}

.w-lightbox-inactive,
.w-lightbox-inactive:hover {
    opacity: 0
}

.w-lightbox-backdrop {
    color: #000;
    cursor: auto;
    font-family: serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    list-style: disc;
    text-align: start;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Ubuntu, "Segoe UI", Verdana, sans-serif;
    font-size: 17px;
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2000;
    outline: 0;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: translate(0, 0)
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

img {
    border: 0
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

.w-webflow-badge>img {
    display: inline-block !important;
    visibility: visible !important;
    opacity: 1 !important;
    vertical-align: middle !important
}

.w-widget-map img {
    max-width: inherit
}

.w-richtext figure img {
    width: 100%
}